.om-pager {
	display: flex;
	gap: 0.25rem;
}

.om-pager__prev:active > svg {
	transform: translate(-1px, 0);
}

.om-pager__next:active > svg {
	transform: translate(1px, 0);
}

:is(.om-pager__prev, .om-pager__next)[aria-disabled="true"] {
	pointer-events: none;
	opacity: 0.6;
}
