.om-sidebar {
	position: absolute;
	height: 100%;
	background: var(--om-background);
	backdrop-filter: blur(40px);

	@media (max-width: 639px) {
		width: 100vw !important;
	}

	@media (min-width: 64rem) {
		position: sticky;
	}
}

.om-sidebar[data-side="left"] {
	left: 0;
	z-index: 20;
	padding-left: env(safe-area-inset-left);

	@media (min-width: 40rem) {
		border-right: var(--om-dividers-width) solid var(--om-dividers);
	}
}

.om-sidebar[data-side="right"] {
	right: 0;
	z-index: 10;
	padding-right: env(safe-area-inset-right);

	@media (min-width: 40rem) {
		border-left: var(--om-dividers-width) solid var(--om-dividers);
	}
}
