:root {
	--om-background: #ffebe0;
	--om-foreground: #544e45;
	--om-dividers: #f1ded5;
	--om-text-highlight: #ffe0cc;
	--om-background-selected: #d5d6d9;
	--om-input-background: transparent;
	--om-resizer-color: color-mix(in oklab, var(--om-foreground) 5%, transparent);

	--om-dividers-width: 1px;
	--om-resizer-width: 0.5rem;
}

[data-omuso-theme="dark"] {
	--om-background: #0b0a09;
	--om-foreground: #dad5d2;
	--om-dividers: #1f1f1f;
	--om-text-highlight: #2e2824;
	--om-background-selected: #21242b;
}

.om-reader {
	background: var(--om-background);
	color: var(--om-foreground);
}
