.omuso-reader {
	--or-background: #ffebe0;
	--or-foreground: #544e45;
	--or-dividers: #f1ded5;
	--or-text-highlight: #ffe0cc;
	--or-background-selected: #d5d6d9;
	--or-input-background: #fffaf3;

	background: var(--or-background);
	color: var(--or-foreground);

	[data-theme="dark"] & {
		--or-background: #0b0a09;
		--or-foreground: #dad5d2;
		--or-dividers: #1f1f1f;
		--or-text-highlight: #2e2824;
		--or-background-selected: #21242b;
		--or-input-background: #171512;
	}
}
