body {
	--background: #ffebe0;

	margin: 0;
	padding: 0;
	background-color: var(--background);

	[data-theme="dark"] & {
		--background: #0b0a09;
	}
}

[data-theme="dark"] .omuso-reader {
	--or-background: var(--background);
}
