* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	--background: #ffebe0;

	margin: 0;
	padding: 0;
	background-color: var(--background);

	&:has(.omuso-reader.dark) {
		--background: #0b0a09;
	}
}
